.titles{
    font-size: 25px;
    color: whitesmoke;
    padding-top: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: italic;
}

.titles2{
    font-size: 25px;
    color: whitesmoke;
    padding-top: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: italic;
}